body{
    font-family: 'Montserrat-Bold';
}

a{
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

div, span, p, a, input, button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


.container{
    width: 1200px;
    margin: 0 auto;
}

.table{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
}

.column{
    border: 1px solid gray;
    padding: 5px 10px;
    width: 30%;
    text-align: center;
}

.column button {
    margin-top: 10px
}
.column1{
    order:10;
}

.column2{
    order:20;
}

.column3{
    order:30;
}

.column4{
    order:31;
}

.column5{
    order:33;
}

.column6{
    order:35;
}

.column_hide{
    display: none;
}

form{
    text-align: center;
    padding-top: 20px;
    display: block;
}

button{
    padding: 5px;
    background: transparent;
    border: 1px solid gray;
    cursor: pointer;
    transition: transform 0.5s ease;
}

button:hover{
    transform: scale(0.9);
}
